---
layout: default
---

{% include head.html %}

{{ content }}

<script type="text/javascript">
  function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
  }

  var badge_data;

  $.getJSON('badges/badges.json', function(json){ badge_data = json; });

  function copysample(badgename, markup) {
    outtype = '';
    if ( markup == "md" ) {
      outtype = "Markdown";
    } else if ( markup == "rst" ) {
      outtype = "ReST";
    } else if ( markup == "html") {
      outtype = "HTML";
    }
    $("#sampletitle").html(outtype + " for " + badge_data[badgename]['display_name'] + " Status (<a href=\"https://getwilds.github.io/badges/badges/" + badgename + "_" + markup + ".txt\">direct link</a>)");
    $.get('https://getwilds.github.io/badges/badges/' + badgename + '_' + markup + '.txt', function(data) {
      $("#samplecode").html('<pre>' + htmlEncode(data) + '</pre>');
      copyToClipboard("#samplecode");
    });
  }

  function htmlEncode(value) {
    return $('<div/>').text(value).html();
  }
</script>
